<div class="left-container">
  <fieldset class="option">
    <legend class="sr-only">View</legend>
    <div class="radio-group">
      <div class="radio">
        <input type="radio"
               id="web-view"
               value="web"
               name="view"
               [(ngModel)]="view"
               (ngModelChange)="updateView()" />
        <label for="web-view">Web view</label>
      </div>

      <div class="radio">
        <input type="radio"
               id="slide-view"
               value="slide"
               name="view"
               [(ngModel)]="view"
               (ngModelChange)="updateView()" />
        <label for="slide-view">Slide view</label>
      </div>
    </div>
  </fieldset>

  <div class="option margin-left margin-right">
    <label for="max-width">{{maxWidthOrZoom}}</label>
    <input [(ngModel)]="maxWidth"
           (ngModelChange)="updateMaxWidth()"
           id="max-width"
           type="range"
           min="10"
           max="100" />
    <span>{{maxWidth}}%</span>
  </div>

  <div class="option">
    <label for="dark-mode">Dark mode</label>
    <input [(ngModel)]="isDarkMode"
           (ngModelChange)="updateDarkMode($event)"
           id="dark-mode"
           type="checkbox" />
  </div>
</div>

<div class="right-container">
  <div class="option">
    <label for="language">Language</label>
    <select name="language"
            id="language"
            [ngModel]="language"
            (ngModelChange)="switchLanguage($event)">
      <option value="en" lang="en">English</option>
      <option value="ro" lang="ro">Română</option>
    </select>
  </div>
  <button (click)="present()"
          id="present"
          [disabled]="view === 'web'">
    <span aria-hidden="true">🖥️</span>
    Present (<kbd>Ctrl</kbd> + <kbd>F5</kbd>)
  </button>
</div>
