:host {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing);
  position: sticky;
  z-index: 2;
  top: 0;
  box-shadow: 0 0 var(--shadow-spread) 0 var(--shadow-color);
  background: var(--surface-background-transparent);
  backdrop-filter: blur(10px);
  padding: calc(var(--spacing) / 3);

  .left-container,
  .right-container {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) / 3);
  }

  .option {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) / 5);

    &:not(:has(.radio-group)) {
      label {
        font-weight: 600;
      }
    }

    input {
      max-width: 50px;
    }

    .radio-group {
      display: flex;
      background: var(--background);
      border: 2px solid var(--shadow-color);
      justify-content: center;
      align-items: center;

      .radio {
        display: flex;

        &:first-child {
          border-right: 2px solid var(--shadow-color);
        }

        input {
          position: absolute;
          z-index: -1;
          opacity: 0;

          &:focus-visible {
            & + label {
              outline: auto;
            }
          }
        }

        label {
          display: inline-flex;
          align-items: center;
          padding: calc(var(--spacing) / 5) calc(var(--spacing) / 2);
        }

        input:checked {
          & + label {
            font-weight: 600;
            background: var(--surface-background-transparent);

            &::after {
              content: '✓' / '';
              display: flex;
              align-items: center;
              margin-left: calc(var(--spacing) / 5);
              font-size: 13px;
            }
          }
        }
      }
    }

    select {
      border: 2px solid var(--shadow-color);
      padding: calc(var(--spacing) / 5);
    }
  }
}

:host-context(.fullscreen) {
  :host {
    display: none;
  }
}

.margin-left {
  margin-left: calc(var(--spacing) / 2);
}

.margin-right {
  margin-right: calc(var(--spacing) / 2);
}
