<div class="left-container">
  <fieldset class="option">
    <legend class="sr-only">{{'ui.contentView' | translate}}</legend>
    <div class="radio-group">
      <div class="radio">
        <input type="radio"
               id="web-view"
               value="web"
               name="view"
               [(ngModel)]="view"
               (ngModelChange)="updateView()" />
        <label for="web-view">{{'ui.webView' | translate}}</label>
      </div>

      <div class="radio">
        <input type="radio"
               id="slide-view"
               value="slide"
               name="view"
               [(ngModel)]="view"
               (ngModelChange)="updateView()" />
        <label for="slide-view">{{'ui.slideView' | translate}}</label>
      </div>
    </div>
  </fieldset>

  <div class="option margin-left margin-right">
    <label for="max-width">{{'ui.maxWidth' | translate}}</label>
    <input [(ngModel)]="maxWidth"
           (ngModelChange)="updateMaxWidth()"
           id="max-width"
           type="range"
           min="10"
           max="100" />
    <span>{{maxWidth}}%</span>
  </div>

  <div class="option">
    <label for="dark-mode">{{'ui.darkMode' | translate}}</label>
    <input [(ngModel)]="isDarkMode"
           (ngModelChange)="updateDarkMode($event)"
           id="dark-mode"
           type="checkbox" />
  </div>
</div>

<div class="right-container">
  <div class="option">
    <label for="language">{{'ui.language' | translate}}</label>
    <select name="language"
            id="language"
            [ngModel]="language"
            (ngModelChange)="switchLanguage($event)">
      <option value="en"
              lang="en">English</option>
      <option value="ro"
              lang="ro">Română</option>
    </select>
  </div>

  <button (click)="present()"
          id="present">
    <span aria-hidden="true">🖥️</span>
    {{'ui.present' | translate}} (<kbd>Ctrl</kbd> + <kbd>F5</kbd>)
  </button>
</div>
