:host {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing);
  position: sticky;
  z-index: 2;
  top: 0;
  box-shadow: 0 0 var(--shadow-spread) 0 var(--shadow-color);
  background: var(--surface-background-transparent);
  backdrop-filter: blur(10px);
  padding: calc(var(--spacing) / 3);

  .left-container,
  .right-container {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) / 3);
  }

  #settings-menu:popover-open {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) / 3);

    .option {
      min-height: var(--min-height-controls);
    }
  }

  .option {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) / 4);

    &:not(:has(.radio-group)) {
      label,
      .span-label {
        font-weight: 600;
      }
    }

    .max-width-controls {
      display: inline-flex;
      align-items: center;
      gap: calc(var(--spacing) / 5);
    }

    .margin-left {
      margin-left: calc(var(--spacing) / 8);
    }

    &.settings {
      &::before {
        content: '⚙' / '';
      }
    }

    #max-width {
      height: var(--min-height-controls);

      ::-webkit-slider-runnable-track {
        border-radius: 0;
      }
    }

    .radio-group {
      display: flex;
      border: 2px solid var(--shadow-color);
      justify-content: center;
      align-items: center;
      border-radius: var(--radius);

      .radio {
        display: flex;

        &:first-child {
          border-radius: calc(var(--radius) - 2px);

          border-top-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
        }

        &:last-child {
          border-radius: calc(var(--radius) - 2px);

          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
        }

        input {
          position: absolute;
          z-index: -1;
          opacity: 0;

          &:focus-visible {
            & + label {
              outline: auto;
            }
          }
        }

        label {
          display: inline-flex;
          align-items: center;
          min-height: calc(var(--min-height-controls) - 4px);
          padding: 0 calc(var(--spacing) / 3);
        }

        input:checked {
          & + label {
            font-weight: 600;
            background: var(--background);

            &::after {
              content: '✓' / '';
              display: flex;
              align-items: center;
              margin-left: calc(var(--spacing) / 5);
              font-size: 13px;
            }
          }
        }
      }
    }

    select {
      border: 2px solid var(--shadow-color);
    }
  }
}

:host-context(.fullscreen) {
  :host {
    display: none;
  }
}

@media screen and (width <= 400px) {
  .kbd-shortcut {
    display: none;
  }
}
