:host {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: calc(var(--spacing) / 3);
  position: sticky;
  z-index: 2;
  top: 0;
  box-shadow: 0 0 var(--shadow-spread) 0 var(--shadow-color);
  background: var(--surface-background-transparent);
  backdrop-filter: blur(10px);
  padding: calc(var(--spacing) / 4);

  .left-container,
  .right-container {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) / 3);
  }

  :popover-open {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-row-gap: calc(var(--spacing) / 3);

    .option {
      display: grid;
      grid-template-columns: subgrid;
      grid-column-gap: calc(var(--spacing) / 2);
      grid-column: 1 / -1;
      align-items: baseline;
      min-height: var(--min-height-controls);
      padding: 0 calc(var(--spacing) / 3);

      :last-child {
        justify-self: flex-start;
      }
    }
  }

  .header-option {
    gap: calc(var(--spacing) / 4);

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ::ng-deep svg {
      --svg-size: 1.2rem;
      height: var(--svg-size);
      width: var(--svg-size);
    }
  }

  .option {
    .span-label {
      font-weight: 600;
      justify-self: flex-end;
    }

    .plus-minus-button {
      aspect-ratio: 1;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    .max-width-controls {
      display: inline-flex;
      align-items: center;
      gap: calc(var(--spacing) / 5);
    }

    .margin-left {
      margin-left: calc(var(--spacing) / 8);
    }

    #max-width {
      height: var(--min-height-controls);

      ::-webkit-slider-runnable-track {
        border-radius: 0;
      }
    }

    .radio-group {
      display: inline-flex;
      border: 2px solid var(--shadow-color);
      justify-content: center;
      align-items: center;
      border-radius: var(--radius);

      .radio {
        display: flex;

        &:first-child {
          border-radius: calc(var(--radius) - 2px);

          border-top-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
        }

        &:last-child {
          border-radius: calc(var(--radius) - 2px);

          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
        }

        input {
          position: absolute;
          z-index: -1;
          opacity: 0;

          &:focus-visible {
            & + label {
              outline: auto;
            }
          }
        }

        label {
          display: inline-flex;
          align-items: center;
          min-height: calc(var(--min-height-controls) - 4px);
          min-width: max-content;
          padding: 0 calc(var(--spacing) / 3);
        }

        input:checked {
          & + label {
            font-weight: 600;
            background: var(--background);

            &::after {
              content: '✓' / '';
              display: flex;
              align-items: center;
              margin-left: calc(var(--spacing) / 5);
              font-size: 13px;
            }
          }
        }
      }
    }

    select {
      border: 2px solid var(--shadow-color);
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    width: max-content;
    max-height: 50vh;
    overflow: auto;

    a {
      padding: calc(var(--spacing) / 3) calc(var(--spacing) / 2);
      color: inherit;
      text-decoration: none;
      word-break: break-word;
      outline-offset: -2px;
      border-radius: var(--radius);

      &[aria-current] {
        font-weight: 600;

        &::after {
          content: '✓' / '';
          display: inline-flex;
          align-items: center;
          margin-left: calc(var(--spacing) / 5);
          font-size: 13px;
        }
      }

      &:hover,
      &:focus-visible {
        box-shadow:
          inset 0 0 0 1px color-mix(in hsl, var(--foreground), transparent 80%),
          inset 0 0 0 50px color-mix(in hsl, var(--background), transparent 30%);
      }
    }
  }
}

:host-context(.fullscreen) {
  :host {
    display: none;
  }
}

@media screen and (width <= 756px) {
  .kbd-shortcut {
    display: none;
  }
}
