<div class="left-container">
  <button id="menu-title"
          class="header-option menu"
          commandfor="main-menu"
          command="toggle-popover"
          aria-haspopup="dialog">
    <app-menu-icon class="icon"></app-menu-icon>
    {{'ui.menu' | translate}}
  </button>

  <dialog popover
          aria-labelledby="menu-title"
          id="main-menu">
    <nav id="nav"
         tabindex="-1">
      @for(route of routes; track route.path) {
      @if(route.path !== '' && route.path !== '**') {
      <a [routerLink]="route.path"
         [fragment]="'slides-start'"
         routerLinkActive="active"
         ariaCurrentWhenActive="page"
         (click)="closeMenuPopover()">{{route.data?.['title'] | translate}}
      </a>
      }
      }
    </nav>
  </dialog>

  <button id="dialog-title"
          class="header-option settings"
          commandfor="settings-menu"
          command="toggle-popover"
          aria-haspopup="dialog">
    <app-settings-icon class="icon"></app-settings-icon>
    {{'ui.settings' | translate}}
  </button>

  <dialog popover
          aria-labelledby="dialog-title"
          aria-describedby="disclaimer-description"
          id="settings-menu">
    <div class="disclaimer" id="disclaimer-description">
      <strong>{{'ui.noteTitle' | translate}}:</strong>
      {{'ui.noteText' | translate}}.
    </div>
    <div role="group"
         class="option">
      <span class="span-label"
            id="content-view-title">{{'ui.contentView' | translate}}</span>
      <div role="group"
           aria-labelledby="content-view-title"
           class="radio-group">
        <div class="radio">
          <input type="radio"
                 id="slide-view"
                 value="slide"
                 name="view"
                 [(ngModel)]="view"
                 (ngModelChange)="updateView()"/>
          <label for="slide-view">{{'ui.slideView' | translate}}</label>
        </div>
        <div class="radio">
          <input type="radio"
                 id="web-view"
                 value="web"
                 name="view"
                 [(ngModel)]="view"
                 (ngModelChange)="updateView()"/>
          <label for="web-view">{{'ui.webView' | translate}}</label>
        </div>
      </div>
    </div>

    <div role="group"
         class="option">
      <span class="span-label"
            id="language-title">{{'ui.language' | translate}}</span>
      <div role="group"
           aria-labelledby="language-title"
           class="radio-group">
        <div class="radio">
          <input type="radio"
                 id="en"
                 value="en"
                 name="language"
                 [(ngModel)]="language"
                 (ngModelChange)="switchLanguage($event)"/>
          <label for="en"
                 lang="en">English</label>
        </div>
        <div class="radio">
          <input type="radio"
                 id="ro"
                 value="ro"
                 name="language"
                 [(ngModel)]="language"
                 (ngModelChange)="switchLanguage($event)"/>
          <label for="ro"
                 lang="ro">Română</label>
        </div>
      </div>
    </div>

    <div class="option">
      <span class="span-label"
            id="max-width-label">{{'ui.maxWidth' | translate}}</span>
      <span role="group"
            class="max-width-controls"
            aria-labelledby="max-width-label">
        <button (click)="decreaseWidth()"
                [disabled]="isDecreaseButtonDisabled()"
                class="plus-minus-button">
          <span class="sr-only">{{ 'ui.decreaseMaxWidth' | translate}}</span>
          <span aria-hidden="true">-</span>
        </button>
        <button (click)="increaseWidth()"
                [disabled]="isIncreaseButtonDisabled()"
                class="plus-minus-button">
          <span class="sr-only">{{ 'ui.increaseMaxWidth' | translate}}</span>
          <span aria-hidden="true">+</span>
        </button>
        <output class="margin-left">{{maxWidth}}%</output>
      </span>
    </div>

    <div class="option">
      <span class="span-label"
            id="dark-mode-title">{{'ui.darkMode' | translate}}</span>
      <button id="dark-mode"
              [attr.aria-pressed]="isDarkMode"
              aria-labelledby="dark-mode-title"
              (click)="toggleDarkMode()">{{isDarkMode ? ('ui.on' | translate) : ('ui.off' | translate)}}</button>
    </div>
  </dialog>
</div>

<div class="right-container">
  <button (click)="present()"
          id="present"
          class="header-option">
    <app-presentation-icon class="icon"></app-presentation-icon>
    {{'ui.present' | translate}}
    <span aria-hidden="true"
          class="kbd-shortcut">(<kbd>Ctrl</kbd> + <kbd>F5</kbd>)
    </span>
  </button>
</div>
