:host {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  min-width: fit-content;
  margin: 0 auto;
  background: var(--surface-background);

  ::ng-deep .slide-number {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.4em;
    padding: 0 0.6em;
    translate: -100%;
    z-index: -1;
    opacity: 0.7;
  }

  ::ng-deep markdown {
    width: 100%;
  }

  ::ng-deep img {
    max-width: 100%;
  }

  ::ng-deep :first-child {
    margin-top: 0;
  }

  ::ng-deep :last-child {
    margin-bottom: 0;
  }

  &:focus-visible {
    outline-offset: 4px;
  }
}

:host-context(.web-view) {
  :host {
    ::ng-deep .slide-number {
      display: none;
    }
  }
}

:host-context(.slide-view) {
  :host {
    aspect-ratio: 16 / 9;
    font-size: 3cqi;
    overflow-x: visible;
    overflow-y: clip;
  }
}
