:host {
  position: relative;
  display: flex;
  flex-direction: column;

  .skip-links {
    position: fixed;
    z-index: 3;
    top: -999px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    translate: 0 -50%;
    gap: 4px;

    a {
      padding: calc(var(--spacing) / 3) calc(var(--spacing) / 2);
      background: var(--background);
    }

    &:has(:focus-within) {
      top: calc(var(--header-height) / 2);
    }
  }

  main {
    display: flex;

    nav {
      position: sticky;
      top: var(--header-height);
      padding: calc(var(--spacing) / 3) 0;
      display: flex;
      flex-direction: column;
      background: var(--surface-background-transparent);
      box-shadow: 0 0 var(--shadow-spread) 0 var(--shadow-color);
      height: calc(100vh - var(--header-height));
      overflow: auto;
      width: 250px;

      a {
        padding: calc(var(--spacing) / 3) calc(var(--spacing) / 2);
        color: inherit;
        text-decoration: none;
        word-break: break-word;

        &[aria-current] {
          box-shadow: inset 4px 0 0 var(--dark-grey);
        }

        &:hover {
          background: var(--light-grey);
        }
      }
    }

    /* route */
    & > ::ng-deep *:last-child {
      flex-grow: 1;
    }
  }
}

:host-context(.fullscreen) {
  :host {
    main {
      nav {
        display: none;
      }
    }
  }
}
