@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  color-scheme: light dark;
  accent-color: light-dark(black, white);

  --base-font: 'Inclusive Sans', sans-serif;
  --header-height: 60px;

  --spacing: 30px;
  --background: light-dark(rgb(230 230 230), rgb(15 15 15));
  --surface-background: light-dark(rgb(255 255 255), rgb(30 30 30));
  --light-grey: rgba(127 127 127 / 0.15);
  --dark-grey: rgba(127 127 127 / 0.7);

  --surface-transparency: 0.9;
  --surface-background-transparent: light-dark(
    rgba(255, 255, 255, var(--surface-transparency)),
    rgba(40, 40, 40, var(--surface-transparency))
  );

  --shadow-color: light-dark(rgba(0 0 0 / 0.2), rgb(0 0 0));
  --shadow-spread: 10px;

  /**
  COLORS
  **/
  --color-alpha: 0.2;
  --red: oklch(60% 0.32 25 / var(--color-alpha));
  --orange: oklch(70% 0.29 70 / var(--color-alpha));
  --yellow: oklch(75% 0.28 95 / var(--color-alpha));
  --lime: oklch(72% 0.27 130 / var(--color-alpha));
  --green: oklch(65% 0.26 145 / var(--color-alpha));
  --emerald: oklch(62% 0.25 160 / var(--color-alpha));
  --teal: oklch(60% 0.25 175 / var(--color-alpha));
  --cyan: oklch(65% 0.24 195 / var(--color-alpha));
  --azure: oklch(60% 0.25 215 / var(--color-alpha));
  --blue: oklch(55% 0.27 250 / var(--color-alpha));
  --indigo: oklch(50% 0.28 270 / var(--color-alpha));
  --violet: oklch(52% 0.29 290 / var(--color-alpha));
  --purple: oklch(50% 0.3 305 / var(--color-alpha));
  --magenta: oklch(55% 0.31 320 / var(--color-alpha));
  --pink: oklch(65% 0.31 345 / var(--color-alpha));
  --rose: oklch(68% 0.3 5 / var(--color-alpha));
}

body {
  background: var(--background);
  margin: 0;
  font-family: var(--base-font);
}

* {
  box-sizing: border-box;
}

button {
  font: inherit;
  font-weight: 600;
  background: var(--background);
  border: 2px solid var(--shadow-color);
  padding: calc(var(--spacing) / 4) calc(var(--spacing) / 3);

  &:not([disabled]):hover {
    scale: 1.05;
  }

  &:not([disabled]):active {
    opacity: 0.7;
    scale: 1;
  }
}

input,
select {
  font: inherit;
  background: var(--background);
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;

  legend {
    padding: 0;
  }
}

a {
  text-underline-offset: 3px;

  &:hover,
  &:focus {
    text-underline-offset: 4px;
  }
}

.center {
  text-align: center;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
