@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  color-scheme: light dark;
  accent-color: light-dark(black, white);

  --base-font: 'Inclusive Sans', sans-serif;

  --spacing: 30px;
  --foreground: light-dark(rgb(15 15 15), rgb(230 230 230));
  --background: light-dark(rgb(230 230 230), rgb(15 15 15));
  --surface-background: light-dark(rgb(255 255 255), rgb(30 30 30));
  --light-grey: rgba(127 127 127 / 0.15);
  --dark-grey: rgba(127 127 127 / 0.7);

  --surface-transparency: 0.9;
  --surface-background-transparent: light-dark(
    rgba(255, 255, 255, var(--surface-transparency)),
    rgba(50, 50, 50, var(--surface-transparency))
  );

  --shadow-color: light-dark(rgba(0 0 0 / 0.2), rgb(0 0 0));
  --shadow-spread: 10px;
  --radius: 4px;

  /**
  COLORS
  **/
  --transparency: 80%;
  --red: color-mix(in srgb, oklch(60% 0.32 25), var(--background) var(--transparency));
  --orange: color-mix(in srgb, oklch(70% 0.29 70), var(--background) var(--transparency));
  --yellow: color-mix(in srgb, oklch(75% 0.28 95), var(--background) var(--transparency));
  --lime: color-mix(in srgb, oklch(72% 0.27 130), var(--background) var(--transparency));
  --green: color-mix(in srgb, oklch(65% 0.26 145), var(--background) var(--transparency));
  --emerald: color-mix(in srgb, oklch(62% 0.25 160), var(--background) var(--transparency));
  --teal: color-mix(in srgb, oklch(60% 0.25 175), var(--background) var(--transparency));
  --cyan: color-mix(in srgb, oklch(65% 0.24 195), var(--background) var(--transparency));
  --azure: color-mix(in srgb, oklch(60% 0.25 215), var(--background) var(--transparency));
  --blue: color-mix(in srgb, oklch(55% 0.27 250), var(--background) var(--transparency));
  --indigo: color-mix(in srgb, oklch(50% 0.28 270), var(--background) var(--transparency));
  --violet: color-mix(in srgb, oklch(52% 0.29 290), var(--background) var(--transparency));
  --purple: color-mix(in srgb, oklch(50% 0.3 305), var(--background) var(--transparency));
  --magenta: color-mix(in srgb, oklch(55% 0.31 320), var(--background) var(--transparency));
  --pink: color-mix(in srgb, oklch(65% 0.31 345), var(--background) var(--transparency));
  --rose: color-mix(in srgb, oklch(68% 0.3 5), var(--background) var(--transparency));
}

html.fullscreen {
  @media (pointer: fine) {
    ::-webkit-scrollbar {
      width: 0;
    }
  }
}

body {
  background: var(--background);
  margin: 0;
  font-family: var(--base-font);
}

* {
  box-sizing: border-box;
}

button {
  font: inherit;
  font-weight: 600;
  background: var(--background);
  border: 2px solid var(--shadow-color);
  padding: calc(var(--spacing) / 6);

  &:not([disabled]):active {
    opacity: 0.7;
    scale: 1;
  }
}

input,
select {
  font: inherit;
  background: var(--background);
}

select,
select::picker(select) {
  appearance: base-select;
}

select {
  border-radius: 0;

  option {
    min-height: 30px;
  }
}

select::picker(select) {
  border: 2px solid var(--background);
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;

  legend {
    padding: 0;
  }
}

input:not([type='range']),
button,
select,
.radio {
  border-radius: var(--radius);

  &:hover {
    box-shadow:
      inset 0 0 0 1px color-mix(in hsl, var(--foreground), transparent 80%),
      inset 0 0 0 50px color-mix(in hsl, var(--background), transparent 30%);
  }
}

a {
  text-underline-offset: 3px;

  &:hover,
  &:focus-visible {
    text-underline-offset: 4px;
  }
}

.center {
  text-align: center;
}

.sr-only:not(:focus):not(:focus-visible):not(:active),
.cdk-visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: auto;
}
